.contenedor-login{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.example-card {
    padding: 50px;
    max-width: 600px;
    width: 250px;
    margin: 50px 30px;
    height: fit-content;
}